.follow-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.follow-subtitle-hashtag {
  color: var(--brand-color-light);
  font-weight: 700;
}

@media (max-width: 991px) {
  .follow-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .follow-gallery {
    grid-template-columns: 1fr;
  }
}