.gallery-slider {
  display: none
}

.gallery-slider-box {
  max-width: 80%;
  position: relative;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-img {
  vertical-align: middle;
  height: 460px;
  width: 100%;
}

.gallery-arrow-prev, .gallery-arrow-next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  margin-top: -22px;
  font-weight: 400;
  font-size: 28px;
  color: var(--text-color-accent-dark);
  transition: 0.5s ease;
  user-select: none;
  cursor: pointer;
}

.gallery-arrow-next {
  right: -50px;
  border-radius: 3px 0 0 3px;
}

.gallery-arrow-prev {
  left: -50px;
  border-radius: 0 3px 3px 0;
}

.gallery-slider-number {
  color: var(--text-color-accent-dark);
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.gallery-slider-fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


@media (max-width: 768px) {
  .gallery-slider-box {
    max-width: 100%;
  }

  .gallery-arrow-next, .gallery-arrow-prev {
    padding: 9px 16px;
    background-color: var(--alternate-text-color);
    opacity: 0.6;
    border-radius: 50%;
  }

  .gallery-arrow-next {
    right: 10px;
  }

  .gallery-arrow-prev {
    left: 10px;
  }
}