.promo {
  background-image: url(../img/promo/promo-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-inner {
  min-height: 100vh;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 100px;
}

.promo-title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 3.3rem;
}

.promo-img {
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .promo-title {
    font-size: 2.7rem;
  }

  .promo-img {
    width: 260px;
  }
}

@media (max-width: 550px) {
  .promo-title {
    font-size: 2.1rem;
  }
}